@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  font-family: "Righteous", serif;
  font-optical-sizing: auto;
  background-color: #04172b; /* Cambia el color de fondo temporalmente si es necesario */
  color: white;
  margin: 0;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
